<div class="notepad-author-info">
    <div class="row">
        <section class="notepad-post-author small-12 columns">
            
            <img src="http://localhost:4000/images/naman.jpg" class="notepad-post-author-avatar" alt="{{ site.author.name }}'s photo">
                
                
                <span class="author-label">Posted by</span>
                <span class="author-name">{{ site.author.name }}</span>
                
                
                <p>{{ site.author.tagline }}</p>
                
                
                </section>
    </div>
</div>
