<a href="mailto:namandwivedi14@gmail.com"><i class="svg-icon email"></i></a>
<a href="https://www.facebook.com/naman.dwivedi.10"><i class="svg-icon facebook"></i></a>

<a href="https://github.com/naman14"><i class="svg-icon github"></i></a>
<a href="https://in.linkedin.com/pub/naman-dwivedi/aa/756/291"><i class="svg-icon linkedin"></i></a>


<a href="https://twitter.com/naman1405"><i class="svg-icon twitter"></i></a>


<a href="https://plus.google.com/NamanDwivedi14"><i class="svg-icon googleplus"></i></a>